<h3 class="mt-3 ml-3">Recent Posts:</h3>
<div class="container">
    <div class="card-deck justify-content-center">
        <br>
        {{#each blogpost as |blog|}}
        <div class=" card my-3 mx-3 col-md-5 ">
            <h4 class="card-header">{{blog.title}}</h4>
            <div class="card-body">
                <small>Written by: {{blog.user.fname}} {{blog.user.lname}}</small>
                <hr>
                <p>{{blog.content}}</p>
                {{#unless logged_in}}
                <button class="btn" href="/login">See Replies</button>
                {{/unless}}

                {{#if logged_in}}
                <a class="btn" href="/login">See Replies</a>
                {{/if}}
            </div>

        </div>
        {{/each}}
    </div>
</div>