{{#if logged_in}}
<h2>Welcome {{username}} </h2>
    {{#each blogposts as |blog|}}
    <div class=" card my-3 mx-3 col-md-5 ">
        <h4 class="card-header">{{blog.title}}</h4>
        <div class="card-body">
            <p>{{blog.content}}</p>
            <h5>Comments</h5>
            <hr>
        </div>
    </div>
    {{/each}}
            <p>{{comment.content}}</p>
{{/if}}