<form class="signup-form w-50 container">
  <div class="form-group">
    <label for="exampleInputEmail1">First Name</label>
    <input type="text" class="form-control" id="fname-input" placeholder="First Name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Last Name</label>
    <input type="text" class="form-control" id="lname-input" placeholder="Last Name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control" id="username-input" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp" placeholder="Email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="password-input" placeholder="Password">
    <small class="form-text text-muted">Must be at least 8 characters.</small>
  </div>
  <button id="login" type="submit" class="btn btn-primary">Signup!</button>
<br>
<a href="/login" class="d-flex justify-content-center">Already have an account? Login here!</a>
</form>


<script src="./js/signup.js"></script>